/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.ie header,
.ie nav,
.ie section,
.ie article,
.ie aside,
.ie footer,
.ie hgroup {
  display: block;
}
@-ms-viewport {
  width: device-width;
}
/* Begin Standard CSS */
body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.phone {
  padding: 118px 0;
  width: 382px;
  margin: 40px auto;
  border-radius: 15px;
  background-image: url('../img/iphone.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
iframe {
  height: 568px;
  width: 320px;
  display: block;
  margin: auto;
}
.container {
  background: #ccc;
  margin: auto;
  overflow: scroll;
  position: relative;
  max-width: 400px;
  padding: 60px 0 45px;
}
.top-bar {
  background: white;
  height: 60px;
  position: fixed;
  top: 0;
  max-width: 400px;
  color: #656565;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.top-bar h1 {
  color: #00adef;
  text-align: center;
  display: inline-block;
  margin: auto;
}
.top-bar h1 span {
  color: #00bab4;
}
.top-bar img {
  width: 100%;
}
.top-bar .section {
  width: 33%;
  float: left;
}
.bottom-bar {
  height: 45px;
  background: #656565;
  width: 100%;
  max-width: 400px;
  position: fixed;
  bottom: 0;
  -webkit-box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: bottom 0.5s;
  -moz-transition: bottom 0.5s;
  -ms-transition: bottom 0.5s;
  -o-transition: bottom 0.5s;
  z-index: 5;
}
.bottom-bar.hide {
  bottom: -45px;
}
.bottom-bar .section {
  height: 42px;
  width: 25%;
  display: inline-block;
  float: left;
  text-align: center;
}
.bottom-bar h4 {
  font-size: 10px;
  color: #999999;
}
.bottom-bar i {
  display: inline-block;
  font-size: 18px;
  color: #cccccc;
  margin: 7px 0 2px;
}
.bottom-bar .wayfinder {
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  -o-transition: left 0.3s;
  position: relative;
  left: 25%;
  height: 3px;
  width: 25%;
  background: #999999;
}
.petition-frame {
  background: #656565;
  background-size: cover;
  background-position: center center;
  height: 182px;
  position: relative;
}
.petition-frame .shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.petition-frame .shade.dark {
  background: rgba(0, 0, 0, 0.5);
}
.petition-frame .shade.light {
  background: rgba(255, 255, 255, 0.25);
}
.petition-frame h2 {
  color: #fff;
  font-family: "Adelle", serif;
  font-size: 24px;
  line-height: 30px;
}
.petition-frame .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
}
.petition-frame .content.green {
  border-left: 5px solid #00bab4;
}
.petition,
.main-feed {
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.slide-left {
  left: 0;
}
#filter {
  position: absolute;
  top: 60px;
  left: -50%;
  width: 50%;
  height: 600px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  -o-transition: left 0.3s;
}
#filter.show {
  left: 0;
}
