/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.ie header,
.ie nav,
.ie section,
.ie article,
.ie aside,
.ie footer,
.ie hgroup {
  display: block;
}
@-ms-viewport {
  width: device-width;
}
/* Begin Standard CSS */
body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.phone {
  padding: 119px 0;
  width: 386px;
  margin: 40px auto;
  background-image: url('../img/iphone.png');
  background-size: contain;
  background-repeat: no-repeat;
}
iframe {
  height: 568px;
  width: 320px;
  display: block;
  margin: auto;
  border-radius: 4px;
}
.container {
  background: #eee;
  margin: auto;
  position: relative;
  max-width: 400px;
  width: 100%;
  padding-top: 60px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.mainframe {
  background: #eee;
  width: 400%;
  position: relative;
  left: -100%;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  -o-transition: left 0.3s;
}
.mainframe .col {
  width: 25%;
  float: left;
}
.top-controls {
  position: absolute;
  top: -40px;
  opacity: 0;
  width: 100%;
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  -ms-transition: top 0.5s;
  -o-transition: top 0.5s;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
}
.top-controls.show {
  top: 24px;
  opacity: 1;
}
.top-bar {
  background: white;
  height: 60px;
  position: fixed;
  top: 0;
  max-width: 400px;
  color: #656565;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.top-bar h1 {
  color: #00adef;
  text-align: center;
  display: inline-block;
  margin: auto;
}
.top-bar h1 span {
  color: #00bab4;
}
.top-bar img {
  width: 100%;
}
.top-bar .section {
  width: 33%;
  float: left;
}
.bottom-bar {
  height: 45px;
  background: #656565;
  width: 100%;
  max-width: 400px;
  position: fixed;
  bottom: 0;
  -webkit-box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: bottom 0.5s;
  -moz-transition: bottom 0.5s;
  -ms-transition: bottom 0.5s;
  -o-transition: bottom 0.5s;
  z-index: 5;
}
.bottom-bar.hide {
  bottom: -45px;
}
.bottom-bar .section {
  height: 42px;
  width: 25%;
  display: inline-block;
  float: left;
  text-align: center;
}
.bottom-bar h4 {
  font-size: 10px;
  color: #999999;
}
.bottom-bar i {
  display: inline-block;
  font-size: 18px;
  color: #cccccc;
  margin: 7px 0 2px;
}
.bottom-bar .wayfinder {
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  -o-transition: left 0.3s;
  position: relative;
  left: 25%;
  height: 3px;
  width: 25%;
  background: #999999;
}
.cause-frame {
  background: #656565;
  background-size: cover;
  background-position: center center;
  height: 182px;
  position: relative;
  cursor: pointer;
}
.cause-frame .shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cause-frame .shade.dark {
  background: rgba(0, 0, 0, 0.5);
}
.cause-frame .shade.light {
  background: rgba(255, 255, 255, 0.25);
}
.cause-frame h2 {
  color: #fff;
  font-family: "Adelle", serif;
  font-size: 24px;
  line-height: 30px;
}
.cause-frame .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
}
.cause-frame .content.green {
  border-left: 5px solid #00bab4;
}
.cause-frame .content.blue {
  border-left: 5px solid #00adef;
}
.cause-frame .content.purple {
  border-left: 5px solid #a183c1;
}
.cause-frame .content.orange {
  border-left: 5px solid #f49c66;
}
.cause-frame .content.dark-blue {
  border-left: 5px solid #207bb1;
}
.cause-frame .time {
  color: rgba(221, 221, 221, 0.75);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  position: absolute;
  bottom: 29px;
  left: 24px;
}
.cause-frame .time .icon {
  vertical-align: middle;
}
.cause-frame .time h4 {
  display: inline-block;
  vertical-align: middle;
}
.cause-frame .signatures {
  position: absolute;
  right: 24px;
  bottom: 24px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 2px 8px 4px;
  border-radius: 12px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.cause-frame .signatures.highlight {
  background: rgba(255, 255, 255, 0.5);
}
.cause-frame .signatures h4 {
  display: inline-block;
  vertical-align: middle;
}
.cause-frame .signatures .icon {
  vertical-align: middle;
}
.cause-summary {
  display: none;
  position: relative;
  z-index: 2;
  background: #fff;
  color: #656565;
  padding: 12px;
  line-height: 18px;
  font-size: 14px;
  -webkit-transition: left 0.2s;
  -moz-transition: left 0.2s;
  -ms-transition: left 0.2s;
  -o-transition: left 0.2s;
}
.cause-summary header img {
  border-radius: 9999px;
  width: 36px;
  height: 36px;
  margin: 12px 12px 12px 0;
  vertical-align: middle;
}
.cause-summary header h4 {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
}
.cause-summary .cause-button {
  display: block;
  background: #00adef;
  color: #fff;
  border-radius: 4px;
  height: 37px;
  font-size: 16px;
  text-align: center;
  position: relative;
  border: 1px solid #00adef;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.cause-summary .cause-button .button-text,
.cause-summary .cause-button .signed-text {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.cause-summary .cause-button .signed-text {
  opacity: 0;
  color: #f26c5e;
}
.cause-summary .cause-button .icon {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  bottom: -2px;
}
.cause-summary .cause-button.green {
  background: #00bab4;
  border: 1px solid #00bab4;
}
.cause-summary .cause-button.orange {
  background: #f49c66;
  border: 1px solid #f49c66;
}
.cause-summary .cause-button.dark-blue {
  background: #207bb1;
  border: 1px solid #207bb1;
}
.cause-summary .cause-button.signed {
  border: 1px solid #f26c5e;
  background: transparent;
}
.cause-summary .cause-button.signed .signed-text {
  opacity: 1;
}
.cause-summary .cause-button.signed .button-text {
  opacity: 0;
}
.cause-summary .update {
  display: table;
  padding-top: 12px;
  border-top: 1px solid #eee;
  margin-top: 12px;
}
.cause-summary .update .date {
  width: 40px;
  display: table-cell;
  text-align: center;
}
.cause-summary .update .date .number {
  display: block;
  font-size: 26px;
  font-weight: 300;
}
.cause-summary .update .date .month {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-bottom: 6px;
}
.cause-summary .update .text {
  display: table-cell;
  padding-left: 12px;
}
.cause-summary .update .text p {
  margin-top: 4px;
}
.cause-summary .signature-view {
  background: #fff;
  position: absolute;
  top: 60px;
  left: 0;
  height: 0;
  opacity: 0;
  width: 100%;
  overflow: hidden;
  padding: 0 12px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.cause-summary .signature-view.show {
  left: 0
			overflow: scroll;
  opacity: 1;
  height: calc(100% - 60px);
}
.cause,
.main-feed {
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.slide-left {
  left: 0;
}
#filter {
  position: absolute;
  top: 60px;
  left: -75%;
  width: 75%;
  height: 600px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  -o-transition: left 0.3s;
}
#filter.show {
  left: 0;
}
