doctype html
<!--[if lt IE 9]>
html.ie
p.browsehappy(style="padding: 20px")
	| You are using an <strong>outdated</strong> browser.
	| Please <a href="http://browsehappy.com/">upgrade your browser</a>
	| to improve your experience.
script.
	document.createElement('header');
	document.createElement('nav');
	document.createElement('section');
	document.createElement('article');
	document.createElement('aside');
	document.createElement('footer');
<![endif]-->
html(lang="en")
	head
		title BeCause iOS Prototype
		meta(chartset="UTF 8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
		script(src="//use.typekit.net/fov7hkp.js")
		script.
			try{Typekit.load();}catch(e){}
		link(type="text/css" rel="stylesheet" href="css/style.css")
	body
		.phone
			.container
				.wrapper
					.top-bar.group
						img(src="img/status-bar.png")
						.section(style="padding: 10px 0 0 10px;")
							a(href="")
								p Filter
						.section(style="text-align: center; padding-top: 10px;")
							h1.tk-adelle Be
								span Cause
						.section(style="text-align: right; padding: 10px 10px 0 0;")
							a(href="")
								i.fa.fa-search
					.bottom-bar
						div.group
							.section
								i.fa.fa-plus
								h4 Submit
							.section
								i.fa.fa-newspaper-o
								h4 Feed
							.section
								i.fa.fa-plus
								h4 Causes
							.section
								i.fa.fa-plus
								h4 Settings
						div
							.wayfinder
					.petition-frame
					.petition-frame(style="background: #999")
					.petition-frame
					.petition-frame(style="background: #999")
					.petition-frame
					.petition-frame(style="background: #999")
					.petition-frame
					.petition-frame(style="background: #999")
		script(src="js/jquery-2.1.1.min.js")
		script(src="js/script.js")