doctype html
<!--[if lt IE 9]>
html.ie
p.browsehappy(style="padding: 20px")
	| You are using an <strong>outdated</strong> browser.
	| Please <a href="http://browsehappy.com/">upgrade your browser</a>
	| to improve your experience.
script.
	document.createElement('header');
	document.createElement('nav');
	document.createElement('section');
	document.createElement('article');
	document.createElement('aside');
	document.createElement('footer');
<![endif]-->
html(lang="en")
	head
		title BeCause iOS Prototype
		meta(chartset="UTF 8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		script(src="//use.typekit.net/fov7hkp.js")
		script.
			try{Typekit.load();}catch(e){}
		link(type="text/css" rel="stylesheet" href="css/style.css")
	body
		.phone
			.container
				.top-bar.group
					img(src="img/status-bar.png")
					.section
						p test
					.section(style="text-align: center; padding-top: 10px;")
						h1.tk-adelle Be
							span Cause
					.section
						p test
				.bottom-bar
					p test
				.petition-frame
				.petition-frame(style="background: #999")
				.petition-frame
				.petition-frame(style="background: #999")
				.petition-frame
				.petition-frame(style="background: #999")
				.petition-frame
				.petition-frame(style="background: #999")
		script(src="js/jquery-2.1.1.min.js")
		script(src="js/script.js")