doctype html
<!--[if lt IE 9]>
html.ie
p.browsehappy(style="padding: 20px")
	| You are using an <strong>outdated</strong> browser.
	| Please <a href="http://browsehappy.com/">upgrade your browser</a>
	| to improve your experience.
script.
	document.createElement('header');
	document.createElement('nav');
	document.createElement('section');
	document.createElement('article');
	document.createElement('aside');
	document.createElement('footer');
<![endif]-->
html(lang="en")
	head
		link(type="text/css" rel="stylesheet" href="css/style.css")
	body
		.phone
			.container
				.top-bar

		script(src="js/jquery-2.1.1.min.js")
		script(src="js/script.js")