doctype html
<!--[if lt IE 9]>
html.ie
p.browsehappy(style="padding: 20px")
	| You are using an <strong>outdated</strong> browser.
	| Please <a href="http://browsehappy.com/">upgrade your browser</a>
	| to improve your experience.
script.
	document.createElement('header');
	document.createElement('nav');
	document.createElement('section');
	document.createElement('article');
	document.createElement('aside');
	document.createElement('footer');
<![endif]-->
html(lang="en")
	head
		title BeCause iOS Prototype
		meta(chartset="UTF 8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="css/icons.css" rel="stylesheet")
		script(src="//use.typekit.net/fov7hkp.js")
		script.
			try{Typekit.load();}catch(e){}
		link(type="text/css" rel="stylesheet" href="css/style.css")
	body
		.container
			.top-bar.group
				img(src="img/status-bar.png")
				.top-controls.top-mainfeed.show
					.section(style="padding: 10px 0 0 10px;")
						a.filter-button(href="#")
							p Filter
					.section(style="text-align: center; padding-top: 10px;")
						h1.applogo Be
							span Cause
					.section(style="text-align: right; padding: 10px 10px 0 0;")
						a(href="")
							i.icon.icon-search
				.top-controls.top-singleview
					.section(style="padding: 10px 0 0 10px;")
						a.back-button(href="#")
							i.icon.icon-arrow
					.section(style="text-align: center; padding-top: 10px;")
						h1.applogo Be
							span Cause
					.section(style="text-align: right; padding: 10px 10px 0 0;")
						a(href="")
				.top-controls.top-create
					div(style="width: 100%; text-align: center; padding-top: 10px;")
						h1(style="color: #00ADEF;") Create a Cause
				.top-controls.top-create-2
					a(href="").back-button(style="position: absolute; top: 10px; left: 8px;")
						i.icon.icon-arrow
					div(style="width: 100%; text-align: center; padding-top: 10px;")
						h1(style="color: #00ADEF;") Create a Cause
				.top-controls.top-create-3
					a(href="").back-button(style="position: absolute; top: 10px; left: 8px;")
						i.icon.icon-arrow
					div(style="width: 100%; text-align: center; padding-top: 10px;")
						h1(style="color: #00ADEF;") Create a Cause
				.top-controls.top-causes
					.pill
						.left-side
							My Causes
						.right-side
							My Signatures
			.bottom-bar
				div.group
					.section(data-left="0")
						i.icon.icon-plus
						h4 Create
					.section(data-left="25")
						i.icon.icon-newspaper
						h4 Feed
					.section(data-left="50")
						i.icon.icon-feather
						h4 Causes
					.section(data-left="75")
						i.icon.icon-cog
						h4 Settings
				div
					.wayfinder(style="left:25%;")
			.mainframe.group(style="left: -100%;")
				.col.col-1.submit
					form
						label Title
						input(type="text")
						label Description
						textarea
						label Category
						select
							option(value='' disabled style='display: none') Tap to select a category
							option Art/Music
							option Environment
							option Health
							option Humor
							option Politics
							option(selected) School
							option Sports
						label Duration
						select
							option(value='' disabled style='display: none') Tap to select a duration
							option One week
							option Two weeks
							option One month
							option(selected) Three months
						button.step-1 Continue
					.stepper
						.circle.fill
						.dash
						.circle
						.dash
						.circle
					.create-2
						p.walkthrough Tap to upload an image
						img.camera(src="img/camera-icon.png")
						img.upload(src="img/ux-club.jpg")
						p.walkthrough Or, if you don't have an image,
							br
							| click "Continue."
						form
							button Continue
						.stepper
							.circle
							.dash
							.circle.fill
							.dash
							.circle
					.create-3
						img.sample(src="img/sample.jpg")
						p.walkthrough(style="margin-top: 62%;") You're all set!
						p.walkthrough(style="margin: 45px 0 48px;") Click “Submit” and enter your Apple ID. You’ll be charged $0.99 and your cause will immediately go live.
						form
							a(href="element")
								button.publish Publish
						.stepper
							.circle
							.dash
							.circle
							.dash
							.circle.fill
				.main-feed.col.col-2
					.cause-frame.cause-trigger(style="background-image: url('img/recycling.jpg');")
						.shade.light
						.shade.dark
						.content.blue
							h2 Support more recycling options for Provo residents
							.time
								i.icon.icon-clock
								h4 2 days remaining
							a(href="#").signatures
								i.icon.icon-feather
								h4 653
					.cause-summary
						a(href="#").cause-button
							.button-text
								i.icon.icon-feather
								span I Support this Cause
							.signed-text
								span Remove My Signature
						header
							img(src="https://s3.amazonaws.com/uifaces/faces/twitter/annapickard/128.jpg" alt="profile picture")
							h4 Samantha Roe
						p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur.
						.update
							.date
								span.month Oct
								span.number 22
							.text
								p Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
						.update
							.date
								span.month Oct
								span.number 7
							.text
								p Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum.
						.signature-view
							.single
								img.profile(src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg")
								img.signature(src="img/signature.png")
								h5 Jane Doe
							.single
								img.profile(src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg")
								img.signature(src="img/signature.png")
								h5 Jane Doe
							.single
								img.profile(src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg")
								img.signature(src="img/signature.png")
								h5 Jane Doe
							.single
								img.profile(src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg")
								img.signature(src="img/signature.png")
								h5 Jane Doe
							.single
								img.profile(src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg")
								img.signature(src="img/signature.png")
								h5 Jane Doe
							.single
								img.profile(src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg")
								img.signature(src="img/signature.png")
								h5 Jane Doe
							.single
								img.profile(src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg")
								img.signature(src="img/signature.png")
								h5 Jane Doe
							.single
								img.profile(src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg")
								img.signature(src="img/signature.png")
								h5 Jane Doe
							.single
								img.profile(src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg")
								img.signature(src="img/signature.png")
								h5 Jane Doe

					.cause-frame.cause-trigger
						.shade.light
						.shade.dark
						.content.green
							h2 More technical training classes for design students on campus
							.time
								i.icon.icon-clock
								h4 3 weeks remaining
							.signatures
								i.icon.icon-feather
								h4 310
					.cause-summary
						a(href="#").cause-button.green
							.button-text
								i.icon.icon-feather
								span I Support this Cause
							.signed-text
								span Remove My Signature
						header
							img(src="https://s3.amazonaws.com/uifaces/faces/twitter/soffes/128.jpg" alt="profile picture")
							h4 Jonathan Doe
						p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum.
						.update
							.date
								span.month Sep
								span.number 12
							.text
								p Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur.
						.update
							.date
								span.month Aug
								span.number 29
							.text
								p Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum.
						.update
							.date
								span.month Aug
								span.number 17
							.text
								p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.
					.cause-frame.cause-trigger(style="background-image: url('img/camera.jpg');")
						.shade.light
						.shade.dark
						.content.orange
							h2 Should the Visual Arts Deparment split?
							.time
								i.icon.icon-clock
								h4 1 month remaining
							.signatures
								i.icon.icon-feather
								h4 142
					.cause-summary
						a(href="#").cause-button.orange
							.button-text
								i.icon.icon-feather
								span I Support this Cause
							.signed-text
								span Remove My Signature
						header
							img(src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" alt="profile picture")
							h4 Jessica Jensen
						p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. 
						p(style="margin-top: 12px;") Id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
						.update
							.date
								span.month Aug
								span.number 3
							.text
								p Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
						.update
							.date
								span.month Aug
								span.number 1
							.text
								p Maecenas sed diam eget risus varius blandit sit amet non magna.
						.update
							.date
								span.month Jul
								span.number 28
							.text
								p Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
					.cause-frame.cause-trigger(style="background-image: url('img/books.jpg');")
						.shade.light
						.shade.dark
						.content.blue
							h2 Textbook trading event
							.time
								i.icon.icon-clock
								h4 2 months remaining
							.signatures
								i.icon.icon-feather
								h4 99
					.cause-summary
						a(href="#").cause-button
							.button-text
								i.icon.icon-feather
								span I Support this Cause
							.signed-text
								span Remove My Signature
						header
							img(src="https://s3.amazonaws.com/uifaces/faces/twitter/ok/128.jpg" alt="profile picture")
							h4 Tommy Smith
						p Sed posuere consectetur est at lobortis. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
						.update
							.date
								span.month Jun
								span.number 20
							.text
								p Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
						.update
							.date
								span.month Jun
								span.number 6
							.text
								p Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.
					.cause-frame.cause-trigger
						.shade.light
						.shade.dark
						.content.dark-blue
							h2 Healthier options in the vending machines
							.time
								i.icon.icon-clock
								h4 4 months remaining
							.signatures
								i.icon.icon-feather
								h4 47
					.cause-summary
						a(href="#").cause-button.dark-blue
							.button-text
								i.icon.icon-feather
								span I Support this Cause
							.signed-text
								span Remove My Signature
						header
							img(src="https://s3.amazonaws.com/uifaces/faces/twitter/kebablilly/128.jpg" alt="profile picture")
							h4 Ashley Johnson
						p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur.
						.update
							.date
								span.month Oct
								span.number 22
							.text
								p Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
						.update
							.date
								span.month Oct
								span.number 7
							.text
								p Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum.
				.col.col-3.causes

			#filter
				.category.green
					.checkbox
						i.icon.icon-check
					h3 Art/Music
				.category.blue
					.checkbox
						i.icon.icon-check
					h3 Environment
				.category.dark-blue
					.checkbox
						i.icon.icon-check
					h3 Health
				.category.purple
					.checkbox
						i.icon.icon-check
					h3 Humor
				.category.red
					.checkbox
						i.icon.icon-check
					h3 Politics
				.category.orange
					.checkbox
						i.icon.icon-check
					h3 School
				.category.brown
					.checkbox
						i.icon.icon-check
					h3 Sports

		script(src="js/jquery-2.1.1.min.js")
		script(src="js/jquery.touchSwipe.min.js")
		script(src="js/main.js")