doctype html
<!--[if lt IE 9]>
html.ie
p.browsehappy(style="padding: 20px")
	| You are using an <strong>outdated</strong> browser.
	| Please <a href="http://browsehappy.com/">upgrade your browser</a>
	| to improve your experience.
script.
	document.createElement('header');
	document.createElement('nav');
	document.createElement('section');
	document.createElement('article');
	document.createElement('aside');
	document.createElement('footer');
<![endif]-->
html(lang="en")
	head
		title BeCause iOS Prototype
		meta(chartset="UTF 8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="css/icons.css" rel="stylesheet")
		//- script(src="//use.typekit.net/fov7hkp.js")
		//- script.
		//- 	try{Typekit.load();}catch(e){}
		link(type="text/css" rel="stylesheet" href="css/style.css")
	body
		.container
			.top-bar.group
				img(src="img/status-bar.png")
				.top-controls.top-mainfeed.show
					.section(style="padding: 10px 0 0 10px;")
						a.filter-button(href="#")
							p Filter
					.section(style="text-align: center; padding-top: 10px;")
						h1.tk-adelle Be
							span Cause
					.section(style="text-align: right; padding: 10px 10px 0 0;")
						a(href="")
							i.icon.icon-search
				.top-controls.top-singleview
					.section(style="padding: 10px 0 0 10px;")
						a.back-button(href="#")
							i.icon.icon-arrow
					.section(style="text-align: center; padding-top: 10px;")
						h1.tk-adelle Be
							span Cause
					.section(style="text-align: right; padding: 10px 10px 0 0;")
						a(href="")
			.bottom-bar
				div.group
					.section(data-left="0")
						i.icon.icon-plus
						h4 Submit
					.section(data-left="25")
						i.icon.icon-newspaper
						h4 Feed
					.section(data-left="50")
						i.icon.icon-feather
						h4 Causes
					.section(data-left="75")
						i.icon.icon-cog
						h4 Settings
				div
					.wayfinder
			.mainframe.group
				.col.col-1.submit
					h1 Hello World!
				.main-feed.col.col-2
					.cause-frame(style="background-image: url('img/camera.jpg');")
						.shade.light
						.shade.dark
						.content.orange
							h2 Should the Visual Arts Deparment split?
							.time
								i.icon.icon-clock
								h4 1 month remaining
							.signatures
								i.icon.icon-feather
								h4 650
					.cause-frame
						.shade.light
						.shade.dark
						.content.green
							h2 More technical training classes for design students on campus
							.time
								i.icon.icon-clock
								h4 3 weeks remaining
							.signatures
								i.icon.icon-feather
								h4 310
					.cause-frame.cause-trigger(style="background-image: url('img/recycling.jpg');")
						.shade.light
						.shade.dark
						.content.blue
							h2 Support more recycling options for Provo residents
							.time
								i.icon.icon-clock
								h4 2 days remaining
							.signatures
								i.icon.icon-feather
								h4 650
					.cause-summary
						a(href="#").cause-button
							i.icon.icon-feather
							span I Support this Cause
						p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur.
						p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					.cause-frame
					.cause-frame(style="background: #999")
					.cause-frame
					.cause-frame(style="background: #999")
					.cause-frame
					.cause-frame(style="background: #999")
			#filter
		script(src="js/jquery-2.1.1.min.js")
		script(src="js/script.js")