@import "reset.less";
@import "variables.less";


/* Begin Standard CSS */

.phone {
	padding: 100px 0;
	width: 368px;
	margin: 40px auto;
	border-radius: 15px;
	background-image: url('../img/iphone.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}

.container {
	width: 320px;
	height: 568px;
	background: #ccc;
	margin: auto;
	overflow: scroll;
	position: relative;
	@media all and (min-width: 700px) {
		padding: 60px 0 45px 0;
	}
}

.top-bar {
	background: white;
	height: 60px;
	position: fixed;
	width: 320px;
	top: 140px;
	h1 {
		color: @blue;
		text-align: center;
		display: inline-block;
		margin: auto;
		span {
			color: @green;
		}
	}
	img {
		width: 100%;
	}
	.section {
		width: 33%;
		float: left;
	}
}

.bottom-bar {
	height: 45px;
	background: @blue;
	width: 320px;
	position: fixed;
	top: 663px;
}

.petition-frame {
	background: @dark-grey;
	height: 182px;
}