@import "reset.less";
@import "variables.less";


/* Begin Standard CSS */

body {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

// Desktop View --------------------
.phone {
	padding: 119px 0;
	width: 386px;
	margin: 40px auto;
	background-image: url('../img/iphone.png');
	background-size: contain;
	background-repeat: no-repeat;
}

iframe {
	height: 568px;
	width: 320px;
	display: block;
	margin: auto;
	border-radius: 4px;
}


// Standard CSS ------

.container {
	background: #eee;
	margin: auto;
	position: relative;
	max-width:400px;
	width: 100%;
	padding-top: 60px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.mainframe {
	background: #eee;
	width: 400%;
	position: relative;
	left: -100%;
	.transition(left .3s);
	.col {
		width: 25%;
		float: left;
	}
}

.top-controls {
	position: absolute;
	top: -40px;
	opacity: 0;
	width: 100%;
	.transition(top .5s);
	.transition(opacity 1s);
	&.show {
		top: 24px;
		opacity: 1;
	}
}
.top-bar {
	background: white;
	height: 60px;
	position: fixed;
	top: 0;
	max-width: 400px;
	color: @dark-grey;
	.box-shadow(0 5px 10px rgba(0,0,0,.1));
	z-index: 10;
	h1 {
		color: @blue;
		text-align: center;
		display: inline-block;
		margin: auto;
		span {
			color: @green;
		}
	}
	img {
		width: 100%;
	}
	.section {
		width: 33%;
		float: left;
	}
}

.bottom-bar {
	height: 45px;
	background: @dark-grey;
	width: 100%;
	max-width: 400px;
	position: fixed;
	bottom: 0;
	.box-shadow(0 -5px 10px rgba(0,0,0,.1));
	.transition(bottom .5s);
	z-index: 5;
	&.hide {
		bottom: -45px;
	}
	.section {
		height: 42px;
		width: 25%;
		display: inline-block;
		float: left;
		text-align: center;
	}
	h4 {
		font-size: 10px;
		color: @grey;
	}
	i {
		display: inline-block;
		font-size: 18px;
		color: @light-grey;
		margin: 7px 0 2px;
	}
	.wayfinder {
		.transition(left .3s);
		position: relative;
		left: 25%;
		height: 3px;
		width: 25%;
		background: @grey;
	}
}

.cause-frame {
	background: @dark-grey;
	background-size: cover;
	background-position: center center;
	height: 182px;
	position: relative;
	cursor: pointer;
	.shade {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		&.dark {
			background: rgba(0,0,0,.5);
		} &.light {
			background: rgba(255,255,255,.25);
		}
	}
	h2 {
		color: #fff;
		font-family: @serif;
		font-size: 24px;
		line-height: 30px;
	}
	.content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 24px;
		&.green {
			border-left: 5px solid @green;
		}
		&.blue {
			border-left: 5px solid @blue;
		}
		&.purple {
			border-left: 5px solid @purple;
		}
		&.orange {
			border-left: 5px solid @orange;
		}
		&.dark-blue {
			border-left: 5px solid @dark-blue;		}
	}
	.time {
		color: rgba(221,221,221,.75);
		font-weight: bold;
		text-transform: uppercase;
		font-size: 13px;
		position: absolute;
		bottom: 29px;
		left: 24px;
		.icon {
			vertical-align: middle;
		}
		h4 {
			display: inline-block;
			vertical-align: middle;
		}		
	}
	.signatures {
		position: absolute;
		right: 24px;
		bottom: 24px;
		color: #fff;
		border: 1px solid rgba(255,255,255,.5);
		padding: 2px 8px 4px;
		border-radius: 12px;
		.transition(all .2s);
		&.highlight {
			background: rgba(255,255,255,.5);
		}
		h4 {
			display: inline-block;
			vertical-align: middle;
		}
		.icon {
			vertical-align: middle;
		}
	}
}

.cause-summary {
	display: none;
	position: relative;
	z-index: 2;
	background: #fff;
	color: #656565;
	padding: 12px;
	line-height: 18px;
	font-size: 14px;
	.transition(left .2s);
	header{ 
		img {
			border-radius: 9999px;
			width: 36px;
			height: 36px;
			margin: 12px 12px 12px 0;
			vertical-align: middle;
		}
		h4 {
			display: inline-block;
			font-size: 18px;
			font-weight: 300;
		}
	}
	.cause-button {
		display: block;
		background: @blue;
		color: #fff;
		border-radius: 4px;
		height: 37px;
		font-size: 16px;
		text-align: center;
		position: relative;
		border: 1px solid @blue;
		.transition(all .2s);
		.button-text, .signed-text {
			position: absolute;
			top: 8px;
			left: 0;
			width: 100%;
			.transition(all .2s);
		}
		.signed-text {
			opacity: 0;
			color: @red;
		}
		.icon {
			display: inline-block;
			margin-right: 10px;
			position: relative;
			bottom: -2px;
		}
		&.green {
			background: @green;
			border: 1px solid @green;
		}
		&.orange {
			background: @orange;
			border: 1px solid @orange;
		}
		&.dark-blue {
			background: @dark-blue;
			border: 1px solid @dark-blue;
		}
		&.signed {
			border: 1px solid @red;
			background: transparent;
			.signed-text {
				opacity: 1;
			}
			.button-text {
				opacity: 0;
			}
		}
	}
	.update {
		display: table;
		padding-top: 12px;
		border-top: 1px solid #eee;
		margin-top: 12px;
		.date {
			width: 40px;
			display: table-cell;
			text-align: center;
			.number {
				display: block;
				font-size: 26px;
				font-weight: 300;
			}
			.month {
				text-transform: uppercase;
				font-size: 10px;
				font-weight: 600;
				letter-spacing: 1.5px;
				margin-bottom: 6px;
			}
		}
		.text {
			display: table-cell;
			padding-left: 12px;
			p {
				margin-top: 4px;
			}
		}
	}
	.signature-view {
		background: #fff;
		position: absolute;
		top: 60px;
		left: 0;
		height: 0;
		opacity: 0;
		width: 100%;
		overflow: hidden;
		padding: 0 12px;
		.transition(all .2s);
		&.show {
			left: 0
			overflow: scroll;
			opacity: 1;
			height: calc(~"100% - 60px");
		}
	}
}

// Transition CSS ----------------

.cause, .main-feed {
	position: relative;
	.transition(all .5s);
}

.slide-left {
	left: 0;
}

#filter {
	position: absolute;
	top: 60px;
	left: -75%;
	width: 75%;
	height: 600px;
	background: rgba(255,255,255,.8);
	.transition(left .3s);
	&.show {
		left: 0;
	}
}